{% extends 'layouts/painel/index.twig' %}
{% block content %}

    <div class="container-fluid p-0">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Lista de Escalas</h4>
                </div>
                <div class="col-sm-6">
                    {% if AUTH.perfil_usuario['id_tipo_perfil'] != 4 %}
                    <div class="float-right d-none d-md-block">
                        <a href="{{ APP_URL }}/escalas/cadastrar" class="btn btn-primary waves-effect waves-light">
                            <i class="fa fa-plus"></i>
                            Cadastrar
                        </a>
                    </div>
                    {% endif %}
                </div>
                <h6 class="ml-3">Ano de Referência</h6>
				<div class="col-sm-2 col-xs-12 text-left mt-4">
					<div class="form-group">
						<select id="year" class="form-control" required="required">
							{% for year in years %}
								<option {{ year == ano ? 'selected' : '' }} value="{{ year }}">{{ year }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<h6 class="ml-3">Mês de Referência</h6>
				<div class="col-sm-2 col-xs-12 text-left mt-4">
					<div class="form-group">
						<select id="month" class="form-control" required="required">
							{% for month in 1..12 %}
								<option {{ month == mes ? 'selected' : '' }} value="{{ month }}">{{ DATE.monthName(month) }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
            </div>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="search">Buscar</label>
                        <input type="text" id="search" class="form-control" autocomplete="off" placeholder="Matrícula, contrato, nome e amparo legal"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="id_orgao">Órgão</label>
                        <select id="id_orgao" class="form-control">
                            <option value="A" selected>Todos</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table id="table-escalas" class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th class="text-uppercase">Matrícula</th>
                                <th class="text-uppercase">Contrato</th>
                                <th class="text-uppercase">Nome</th>
                                <th class="text-uppercase">Cargo</th>
                                <th class="text-uppercase">Dias</th>
                                <th class="text-uppercase">Ações</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
	<script>
		$(function(){

            const meusOrgaos = JSON.parse('{{ AUTH.visualizar_orgaos|json_encode() }}');
            const minhasLotacoes = JSON.parse('{{ LOTACOES.lotacoesArray|json_encode() }}');

            $('#id_orgao').select2({
				placeholder: 'Digite nome ou sigla (exibindo até 10 registros)',
				theme: 'bootstrap',
				language: 'pt-BR',
				ajax: {
					url: `{{ APP_URL }}/api/orgaos`,
					dataType: 'json',
					data: function(params) {
						var query = {
							search: params.term ? params.term : '',
							length: 100,
							start: 0,
							draw: 1,
                            order: [{
                                column: 2,
                                dir: 'asc'
                            }]
						}

						return query;
					},
					processResults: function(data) {
						var itens = [];
						itens.push({ id: 'A', text: `Todas os Órgão` })
						data.aaData.map(dados => {
							itens.push({ id: dados.id_orgao, text: `${dados.sigla_orgao}` })
						});
						return {
							results: itens
						};
					}
				}
			});


			var table = $("#table-escalas").DataTable({
				serverSide: true,
				responsive: true,
				searching: false,
				ajax: {
					url: "{{ APP_URL }}/api/escalas",
					data: function(data){
						data.search = $("#search").val();
                        data.ano = $("#year").val();
						data.mes = $("#month").val();
                        data.id_orgao = $("#id_orgao").val() != 'A' ? $("#id_orgao").val() : null;
					}
				},
				columns: [
                    {
                        data: null,
                        className: '',
                        render: function ( data, type, row ) {
                            return data.matricula_usuario;
                        }                       
                    },
                    {
                        data: null,
                        className: 'text-center',
                        render: function ( data, type, row ) {
                            return data.contrato_usuario;
                        }                       
                    },
                    {
                        data: null,
                        className: '',
                        render: function ( data, type, row ) {
                            return data.nome_usuario;
                        }                       
                    },
                    {
                        data: null,
                        className: '',
                        render: function ( data, type, row ) {
                            return data.cargo_comissao_usuario ? data.cargo_comissao_usuario : data.cargo_usuario;
                        }                       
                    },
                    {
                        data: null,
                        className: '',
                        render: function ( data, type, row ) {
                            var dias = data.data_escala[0]['data_escala'].split('-')[2];
                            data.data_escala.map((datas, key) => {
                                if(key > 0){
                                    var dia = datas.data_escala.split('-')[2];
                                    dias += `, ${dia}`;
                                }
                            });
                            return dias;
                        }                       
                    },
                    {
                        data: null,
                        className: 'text-center',
                        visible: {{ AUTH.perfil_usuario['id_tipo_perfil'] != 4 ? 'true' : 'false' }},
                        render: function ( data, type, row ) {
                            if({{ AUTH.perfil_usuario['id_tipo_perfil'] }} == 2 && meusOrgaos && minhasLotacoes && meusOrgaos.includes(data.id_orgao_exercicio_usuario) && !minhasLotacoes.includes(data.id_lotacao_exercicio_usuario)){
                                return ``;
                            }

                            return `
                                <a href="javascript:void(0);" title="Remover" class="btn btn-danger btn-sm btn-circle delete_confirmation" data-url="{{ APP_URL }}/escalas/deletar/${data.id_escala}">
                                    <i class="ti-trash"></i>
                                </a>
                                <a href="{{ APP_URL }}/escalas/editar/${data.id_escala}" title="Editar" class="btn btn-default btn-sm btn-circle">
                                    <i class="ti-pencil"></i>
                                </a>
                            `;
                        }
                        
                    },
                ],
				columnDefs: [
                    { 
                        orderable: false, 
                        targets: [ 3,4,5 ] 
                    },
                ],
				order: [[ 2, 'asc' ]],
				language: {
					sEmptyTable: "Nenhum registro encontrado",
					sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
					sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
					sInfoFiltered: "",
					{# sInfoFiltered: "(Filtrados de _MAX_ registros)", #}
					sInfoPostFix: "",
					sInfoThousands: ".",
					sLengthMenu: "_MENU_ resultados por página",
					sLoadingRecords: "Carregando...",
					sProcessing: "Processando...",
					sZeroRecords: "Nenhum registro encontrado",
					sSearch: "Pesquisar",
					oPaginate: {
						sNext: "Próximo",
						sPrevious: "Anterior",
						sFirst: "Primeiro",
						sLast: "Último"
					}
				}
			});

			$("#search").keyup(function(){
				table.draw();
			});

            $("#id_orgao").change(function(){
				table.draw();
			});
		});
        $('#month').on('change', function () {
			var url = new URL(window.location.href);
			url.searchParams.set('mes', $(this).val());
            window.location.href = url.href;
        });
        $('#year').on('change', function () {
			var url = new URL(window.location.href);
			url.searchParams.set('ano', $(this).val());
            window.location.href = url.href;
        });
	</script>
{%  endblock %}
