{% extends 'layouts/painel/index.twig' %}
{% block content %}

    <div class="container-fluid p-0">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Lista de Solicitações de Abono</h4>
                </div>
                <div class="col-sm-6">
                    <div class="float-right d-none d-md-block">
                        <a href="{{ APP_URL }}/abonos_servidor/cadastrar" class="btn btn-primary waves-effect waves-light">
                            <i class="fa fa-plus"></i>
                            Cadastrar
                        </a>
                    </div>
                </div>
                <h6 class="ml-3">Ano de Referência</h6>
				<div class="col-sm-2 col-xs-12 text-left mt-4">
					<div class="form-group">
						<select id="year" class="form-control" required="required">
							{% for year in years %}
								<option {{ year == ano ? 'selected' : '' }} value="{{ year }}">{{ year }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<h6 class="ml-3">Mês de Referência</h6>
				<div class="col-sm-2 col-xs-12 text-left mt-4">
					<div class="form-group">
						<select id="month" class="form-control" required="required">
							{% for month in 1..12 %}
								<option {{ month == mes ? 'selected' : '' }} value="{{ month }}">{{ DATE.monthName(month) }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
            </div>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-md-6">
					<div class="form-group">
						<label for="search">Buscar</label>
						<input type="text" id="search" class="form-control" autocomplete="off" placeholder=""/>
					</div>
				</div>
                <div class="col-md-4 mb-2 mt-4">
					<div class="form-group form-check col-md-12">
                        <input type="checkbox" class="form-check-input" id="abonos_finalizados" checked>
                        <label class="form-check-label" for="abonos_finalizados">Mostrar Abonos Deferidos/Indeferidos</label>
                    </div>
				</div>
				<div class="col-lg-12">
					<table id="table-abonos" class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th class="text-uppercase">Data do Abono</th>
                                <th class="text-uppercase">Motivo</th>
                                <th class="text-uppercase">Período</th>
                                <th class="text-uppercase">Situação</th>
                                <th class="text-uppercase" class="text-center">Ações</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
	<script>
		$(function(){
			var table = $("#table-abonos").DataTable({
				serverSide: true,
				responsive: true,
				searching: false,
				ajax: {
					url: "{{ APP_URL }}/api/abonos",
					data: function(data){
						data.search = $("#search").val();
						data.id_usuario = 'id_usuario';
                        data.ano = $("#year").val();
						data.mes = $("#month").val();
                        data.abonos_finalizados = $("#abonos_finalizados").is(':checked');
					}
				},
				columns: [
                    {
                        data: null,
                        className: '',
                        render: function ( data, type, row ) {
                            var data_abono = moment(data.data_abono).format('DD/MM/YYYY');
                            if(data.data_final_abono){
                                var data_final_abono = moment(data.data_final_abono).format('DD/MM/YYYY');
                                data_abono = `${data_abono} a ${data_final_abono}`;
                            }
                            return data_abono;
                        }                       
                    },
                    {
                        data: null,
                        className: '',
                        render: function ( data, type, row ) {
                            var motivo = data.motivo_abono.length > 80 ? 
                                data.motivo_abono.substring(0, 80) + "..." : 
                                data.motivo_abono;
                            return motivo;
                        }                       
                    },
                    {
                        data: null,
                        className: 'text-center',
                        render: function ( data, type, row ) {
                            var periodo_abono = '';
                            if(data.periodo_abono == 'V'){
                                periodo_abono = 'VESPERTINO';
                            }else if(data.periodo_abono == 'M'){
                                periodo_abono = 'MATUTINO';
                            }else if(data.periodo_abono == 'I'){
                                periodo_abono = 'INTEGRAL';
                            }
                            return periodo_abono;
                        }                       
                    },
					{
                        data: null,
                        className: 'text-center',
                        render: function ( data, type, row ) {
                            var status = `<button class="btn btn-sm btn-${data.classe_status_abono} text-uppercase">${data.descricao_status_abono}</button>`;
                
                            return status;
                        }                       
                    },
                    {
                        data: null,
                        className: 'text-center',
                        render: function ( data, type, row ) {
                            var html = `
                                <a href="{{ APP_URL }}/abonos/visualizar/${data.id_abono}" class="btn btn-sm btn-default btn-circle">
                                    <i class="mdi mdi-eye"></i>
                                </a>
                            `;
                            if(data.id_status_abono == 1 || data.id_status_abono == 3){
                                html += `
                                    <a href="javascript:void(0);" class="btn btn-sm btn-default btn-circle delete_confirmation" data-url="{{ APP_URL }}/abonos_servidor/deletar/${data.id_abono}">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                `;
                            }
                            return html;
                        }
                        
                    },
                ],
                columnDefs: [
                    { 
                        orderable: false, 
                        targets: [ 3,4 ] 
                    },
                ],
				order: [[ 0, 'asc' ]], 
				language: {
					sEmptyTable: "Nenhum registro encontrado",
					sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
					sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
					sInfoFiltered: "",
					{# sInfoFiltered: "(Filtrados de _MAX_ registros)", #}
					sInfoPostFix: "",
					sInfoThousands: ".",
					sLengthMenu: "_MENU_ resultados por página",
					sLoadingRecords: "Carregando...",
					sProcessing: "Processando...",
					sZeroRecords: "Nenhum registro encontrado",
					sSearch: "Pesquisar",
					oPaginate: {
						sNext: "Próximo",
						sPrevious: "Anterior",
						sFirst: "Primeiro",
						sLast: "Último"
					}
				}
			});

			$("#search").keyup(function(){
				table.draw();
			});
            $("#year").change(function(){
				table.draw();
			});
			$("#month").change(function(){
				table.draw();
			});
            $("#abonos_finalizados").change(function(){
				table.draw();
			});
		});
        $('#month').on('change', function () {
			var url = new URL(window.location.href);
			url.searchParams.set('mes', $(this).val());
            window.location.href = url.href;
        });
        $('#year').on('change', function () {
			var url = new URL(window.location.href);
			url.searchParams.set('ano', $(this).val());
            window.location.href = url.href;
        });
	</script>
{%  endblock %}