<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ APP_NAME }}</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ APP_URL }}/assets/images/favicon.png">

        <link rel="stylesheet" type="text/css" href="{{ APP_URL }}/assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ APP_URL }}/assets/css/documents.css?version={{ APP_VERSION }}"/>

        <style>
            .table-bordered td,
            .table-bordered th {
                border: 1px solid #343a40 !important;
            }
        </style>
    </head>
    <body class="A4">
        <section class="sheet padding-10mm pt-10">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <table>
                        <tr>
                            <td><img class="brasao" src="{{ APP_URL }}/assets/images/logos/brasao.png"></td>
                            <td class="p-10">
                                <p class="texto-cabecalho" style="font-size: 20px;">GOVERNO DO ESTADO DO ACRE</p>
                                <p class="texto-cabecalho" style="font-size: 20px;">www.ac.gov.br</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6 text-right" style="padding-top: 20px;">
                    <p class="texto-cabecalho" style="font-size: 20px;">SECRETARIA DE ESTADO DE</p>
                    <p class="texto-cabecalho" style="font-size: 20px;">PLANEJAMENTO E GESTÃO</p>
                </div>
                <div class="col-sm-12 text-center">
                    <div class="line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="tabelas">
                </div>
            </div>
        </section>
    </body>

    <!-- jQuery  -->
    <script type="text/javascript" src="{{ APP_URL }}/assets/js/jquery.min.js"></script>

    <script>
        window.onload = function () {
            window.print();
        }

        var groupBy = function(xs, key) {
            return xs.reduce(function(rv, x) {
                (rv[x[key]] = rv[x[key]] || []).push(x);
                return rv;
            }, {});
        };

        var orgaos = Object.values(groupBy({{ usuarios|json_encode|raw }},'id_orgao'));

        orgaos.map(orgao => {
            var html = `
                
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="6">HORAS TRABALHADAS {{ mes }}/{{ ano }}</th>
                            </tr>
                            <tr>
                                <th class="text-left" colspan="5">${orgao[0]['sigla_orgao']} - ${orgao[0]['descricao_orgao']}</th>
                                <th class="text-right" colspan="1">Total: ${orgao.length}</th>
                            </tr>
                            <tr>
                                <th class="text-center" style="width: 40px;">#</th>
                                <th class="text-center" style="width: 115px;">MATRÍCULA</th>
                                <th class="text-center" style="width: 115px;">CONTRATO</th>
                                <th>NOME</th>
                                <th>LOTAÇÃO</th>
                                <th class="text-center">MÉDIA DE HORAS</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 13px;">`;
            
            orgao.map((usuario, index) => {
                let horas = usuario.total_hora > 0 ? Math.floor(usuario.total_hora / 60) : 0;
                let min = (usuario.total_hora > 0) ? usuario.total_hora % 60 : 0
                html += `
                    <tr>
                        <td class="text-center">
                            <b>${ index + 1 }</b>
                        </td>
                        <td class="text-center">${ usuario.matricula_usuario }</td>
                        <td class="text-center">${ usuario.contrato_usuario }</td>
                        <td>${ usuario.nome_usuario }</td>
                        <td>${ usuario.descricao_lotacao }</td>
                        <td class="text-center">${ ('00'+horas).slice(-2)+'hs e '+('00'+min).slice(-2)+'min' }</td>
                    </tr>
                `;
            });

            html += `</tbody>
                </table>`;
        

            $('#tabelas').append(html);
        });
    </script>
</html>
