{% extends 'layouts/painel/index.twig' %}
{% block content %}

    <div class="container-fluid p-0">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6 col-xs-12">
                    <h4 class="page-title">
                        <a href="{{ APP_URL }}/servidores">Lista de Servidores </a><i class="fa fa-chevron-right font-12"></i> 
                        Informações do Usuário
                    </h4>
                </div>
                {# <div class="col-sm-6">
                    <h4 class="page-title">Informações do usuario</h4>
                </div> #}
                
                {% if AUTH.perfil_usuario and AUTH.perfil_usuario ['id_tipo_perfil'] != 4 and 
                    (
                        AUTH.perfil_usuario ['id_tipo_perfil'] == 2 and
                        (
                            (
                                usuario.id_orgao_exercicio_usuario in AUTH.visualizar_orgaos
                                and usuario.id_lotacao_exercicio_usuario in LOTACOES.lotacoesArray
                            )
                            or usuario.id_orgao_exercicio_usuario not in AUTH.visualizar_orgaos
                        )
                    )
                %}
                    <div class="col-sm-6">
                        <div class="float-right d-none d-md-block">
                            <a href="{{ APP_URL }}/servidores/editar/{{ usuario.id_usuario }}" class="btn btn-primary waves-effect waves-light">
                                <i class="mdi mdi-pencil"></i> Editar
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-bordered">
                        <h4 class="card-header font-16 mt-0">Dados Pessoais</h4>
                        <div class="card-body">
                            <dl>
                                <dt>Matrícula</dt>
                                <dd>{{ usuario.matricula_usuario }}</dd>

                                <dt>Contrato</dt>
                                <dd>{{ usuario.contrato_usuario }}</dd>

                                <dt>Nome</dt>
                                <dd>{{ usuario.nome_usuario }}</dd>

                                <dt>E-mail</dt>
                                <dd>{{ usuario.email_usuario }}</dd>

                                <dt>Cargo</dt>
                                <dd>{{ usuario.cargo_comissao_usuario ? usuario.cargo_comissao_usuario : usuario.cargo_usuario }}</dd>

                                <dt>Data da Admissão</dt>
                                <dd>{{ usuario.data_admissao_usuario|date('d/m/Y') }}</dd>

                                <dt>Tipo do Contrato</dt>
                                <dd>{{ usuario.tipo_contrato_usuario|upper }}</dd>

                                <dt>Situação Funcional</dt>
                                <dd>{{ usuario.situacao_funcional_usuario|upper }}</dd>

                                <dt>Regime</dt>
                                <dd>{{ usuario.regime_usuario }}</dd>  

                                <dt>Órgão</dt>
                                <dd>{{ usuario.orgao.descricao_orgao }}</dd>

                                <dt>Lotação Exercício</dt>
                                <dd>{{ usuario.lotacao.descricao_lotacao }}</dd>  

                                <dt>Horário</dt>
                                <dd>
                                    {% if usuario.horario %}
                                        {{ str.mask(usuario.horario.entrada_1_horario, '#####') }} - 
                                        {{ str.mask(usuario.horario.saida_1_horario, '#####') }} - 
                                        {{ str.mask(usuario.horario.entrada_2_horario, '#####') }} - 
                                        {{ str.mask(usuario.horario.saida_2_horario, '#####') }}
                                    {% else %}
                                        Horário Padrão
                                    {% endif %}
                                </dd>                                                                              
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
