<div class="topbar">

	<!-- LOGO -->
	<div class="topbar-left">
		<a href="{{ APP_URL }}/dashboard" class="logo">
			<span><img src="{{ BASE_URL }}/img/LOGO-ACRE-3.png" height="70" width="auto"></span>
			<i><img src="{{ BASE_URL }}/img/Brasao_Acre.png" height="35" width="auto"></i>
		</a>
	</div>

	<nav class="navbar-custom">
		<ul class="navbar-right list-inline float-right mb-0">
			<li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
				<a class="nav-link dropdown-toggle arrow-none waves-effect" 
					data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"
					style="line-height: 25px; height: 70px; padding-top: 10px; text-align: right;" >
					<strong>{{ AUTH.nome_usuario  }}</strong><br/>
					{% for contrato in AUTH.contratos %}
						{% if AUTH.id_usuario == contrato.id_usuario %}
								<i class="mdi mdi-backup-restore"></i> Contrato {{ contrato.contrato_usuario }} - {{ AUTH.cargo_comissao_usuario ? AUTH.cargo_comissao_usuario : AUTH.cargo_usuario }}
						{% endif %}
					{% endfor %}
				</a>
				{% if AUTH.contratos|length > 1 %}
					<div class="dropdown-menu dropdown-menu-right language-switch">
						{% for contrato in AUTH.contratos %}
							{% if AUTH.id_usuario != contrato.id_usuario %}
								<a class="dropdown-item" href="{{ APP_URL }}/autenticacao/login/alterar" style="background-color: #c5c5c5;">
									<span> Contrato {{ contrato.contrato_usuario }} - {{ contrato.cargo_comissao_usuario ? contrato.cargo_comissao_usuario : contrato.cargo_usuario }}</span>
								</a>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			</li>
			<li class="dropdown notification-list list-inline-item">
				<div class="dropdown notification-list nav-pro-img">
					<a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
						<img src="{{ BASE_URL }}/assets/images/users/user-11.png" alt="user" class="rounded-circle">
					</a>
					<div class="dropdown-menu dropdown-menu-right profile-dropdown ">
						<!-- item-->
						{# <div class="dropdown-divider"></div> #}
						<a class="dropdown-item text-danger" href="{{ APP_URL }}/autenticacao/logout"><i class="mdi mdi-power text-danger"></i> Logout</a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="list-inline menu-left mb-0">
			<li class="float-left">
				<button class="button-menu-mobile open-left waves-effect">
					<i class="mdi mdi-menu"></i>
				</button>
			</li>		
		</ul>

		<ul class="navbar-left list-inline float-left mb-0">
			<a href="{{ APP_URL }}/dashboard" class="waves-effect d-flex align-items-center pl-1 pr-1" style="height: 70px; font-size:20px;">
				{{ APP_SIGLA_NAME ~ ' - ' ~ APP_NAME }}
			</a>		
		</ul>
		<ul class="navbar-left list-inline float-left mb-0 ml-2">
			<a href="{{ APP_URL }}" data-toggle="tooltip" title="Registrar Ponto" class="waves-effect d-flex align-items-center pl-1 pr-1" style="height: 70px; font-size:20px;">
				<i class="fa fa-user-clock" style="font-size: 30px;"></i>
			</a>		
		</ul>
	</nav>
</div>